<script src="https://kit.fontawesome.com/4db6b32bd3.js" crossorigin="anonymous"></script>
<div class="w-full bg-black text-white">
    <div class="xl:px-40 pb-12 lg:px-20 md:px-10 sm:px-5 px-10">
        <div class="w-full pt-12 flex flex-col sm:flex-row space-y-2  justify-start">
            <div class="w-full sm:w-2/5 pr-6 flex flex-col space-y-4">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="160"
                    height="57" viewBox="0 0 160 57">
                    <defs>

                    </defs>
                    <rect id="ETI-Logo" width="160" height="57" fill="url(#pattern)" />
                </svg>
                <a href="https://github.com/GizmolabAI/DiscordBot-Flash" target="_blank">
                    <p class="opacity-60"></p>
                </a>
                <!--- DONT REMOVE OR EDIT THIS COPYRIGHT(THIS TEMPLATE IS ONLY FOR PERSONAL USE WITH COPYRIGHT. LEGAL ACTION MIGHT BE TAKEN IF REMOVED)--->
            </div>
            <div class="w-full sm:w-1/5 flex flex-col space-y-4">
                <a href="/" class="opacity-60">Home</a>
                <a href="https://github.com/GizmolabAI/DiscordBot-Flash" target="_blank" class="opacity-60">Github</a>
                <a href="/dashboard" class="opacity-60">Dashboard</a>
            </div>
            <div class="w-full sm:w-1/5 flex flex-col space-y-4">

            </div>
            <div class="w-full sm:w-1/5 pt-6 flex items-end mb-1">
                <div class="flex flex-row space-x-4">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-google"></i>
                </div>
            </div>
        </div>
        <div class="opacity-60 pt-2">
            <p>© 2021 FLASH DISCORD BOT</p>
        </div>
    </div>
</div>
</body>

</html>
