/* 
  Style.css file is linked in the header template, therefore
  it is applied to every page of our application.
  Write some style to begin.
*/
a:hover {
  color: #D72323;
}

.k:hover {
  background-color: white!important;
  color: black!important;
}
b:hover {
  color: black;
}

.navbar1 {
  height: 100%;
}

@media screen and (max-width: 600px) {
.navbar1 {
  height: 100%;
}
}
#button {
  display: inline-block;
  background-color: rgb(219, 0, 0);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "⇯";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */


@media (min-width: 500px) {
  
  #button {
    margin: 30px;
  }
}
