<%- include("partials/header", { bot, user, path, title: "Home" , active:"home"}) %>

  <main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
      <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background: #121212;'>
        <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-gray-900"></span>
      </div>
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center ">
            <div class="pr-12">
              <h1 class="text-white font-semibold text-5xl">
                The Discord Bot That does Everything
              </h1>
              <div class="mt-4 text-lg text-gray-300">
                <p style="margin-bottom: 10px;">We invite you to try our bot and hope you enjoy!</p>
                <a href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&permissions=55801015543&response_type=code&redirect_uri=${encodeURIComponent(`${bot.config.domain}/callback`)}&scope=bot%20applications.commands`  %>"> <button href="/"
                    class="h-10 px-5 m-2 text-black transition-colors duration-150 bg-white rounded-lg focus:shadow-outline hover:bg-indigo-800">Invite</button></a>
                <a href="/dashboard"> <button style="background: #D72323;"
                    class="h-10 px-5 m-2 text-black transition-colors duration-150  rounded-lg focus:shadow-outline">Dashboard</button></a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden "
        style="height: 70px;">
       
      </div>
    </div>
    <section class="pb-20 bg-gray-900 -mt-24">
      <div class="container  mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center ">
            <div style="bottom: 2%;"
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto ">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-black">
                  <i class="fas fa-award"></i>
                </div>
                <h6 class="text-xl font-semibold">Dashboard</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  You can easily enable, disable, and configure everything through our amazing dasboard.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-4/12 px-4 text-center ">
            <div style="top: 5%;"
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg ">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-black">
                  <i class="fas fa-retweet"></i>
                </div>
                <h6 class="text-xl font-semibold">Moderation</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  Moderation with mod logs, mute, kick, warn & much more!
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6 w-full md:w-4/12 px-4 text-center">
            <div style="bottom: 5%;"
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-black">
                  <i class="fas fa-fingerprint"></i>
                </div>
                <h6 class="text-xl font-semibold">Much More</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  Many more commands & a lot of fun!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap items-center mt-32">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
              <i class="fas fa-tasks text-xl"></i>
            </div>
            <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
              Easily Manage Your Server
            </h3>
            <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
              The Dashboard gives you full control to manage your server at anytime & from anywhere.
            </p>
            <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">

            </p>

          </div>
          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto ">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full mb-6  rounded-lg ">
              <img style="margin-top: 30%" alt="..."
                src="https://media.discordapp.net/attachments/834390098304565323/875355707938066452/managemsg.png?width=406&height=406"
                class="w-full align-middle rounded-t-lg" />
              <blockquote class="relative p-8 mb-4">
                
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="relative py-20 bg-gray-900">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden  -mt-20"
        style="height: 80px;">
        
      </div>
      <div class="container bg-gray-900 mx-auto px-4">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
            <img
              src="https://cdn.discordapp.com/attachments/834390098304565323/875363659474419782/easy2use.png"
              alt="..." class="w-full align-middle rounded-t-lg" />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-black">
                <i class="fas fa-tasks text-xl"></i>
              </div>
              <h3 class="text-3xl font-semibold text-white">Easy To Use</h3>
              <p class="mt-4 text-lg leading-relaxed text-white-600">

              </p>
              <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white bg-black mr-3"><i
                          class="fas fa-fingerprint"></i></span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">
                        99% Uptime.
                      </h4>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white bg-black mr-3"><i
                          class="fab fa-html5"></i></span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">Amazing Design</h4>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white bg-black mr-3"><i
                          class="far fa-paper-plane"></i></span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">Web Dashboard</h4>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  </main>
  <footer class="relative bg-gray-900 pt-8 pb-6">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;">
      
    </div>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-semibold text-white">Let's keep in touch!</h4>
          <h5 class="text-lg mt-0 mb-2 text-gray-700">
            Contact US
          </h5>
          <div class="mt-6">
            <button
              class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3">
              <a href="https://github.com/GizmolabAI/DiscordBot-Flash" target="_blank"> </a>
              <i class="flex fab fa-github"></i>
            </button>
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Useful Links</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="/">Home</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="/dashboard">Dashboard</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://github.com/GizmolabAI/DiscordBot-Flash" target="_blank">Github</a>
                </li>

              </ul>
            </div>

          </div>
        </div>
      </div>
      <hr class="my-6 border-gray-400" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-gray-600 font-semibold py-1 ">
            <a style="font-size: 20px" class="text-gray-600 hover:text-white">
              <p> Copyright © 2021 FLASH BOT</p>
                <!--- DONT REMOVE OR EDIT THIS COPYRIGHT(THIS TEMPLATE IS ONLY FOR PERSONAL USE WITH COPYRIGHT. LEGAL ACTION MIGHT BE TAKEN IF REMOVED)--->
            </a>


          </div>
          


        </div>
       
      </div>
    </div>
  </footer>

  <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
  </script>

  </html>
